# Build and debug folders
build*
debug*
install*

# Files generated in runit
runit/*.log
runit/*.root

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake generated
Testing

# Test input files
test/gaudi_opts/testConverterConstants.py
test/inputFiles/muons.slcio
test/inputFiles/testSimulation.slcio